.header{
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid #dbe5e6;
}

.header h1{
    font:  600 2.3rem 'Poppins', Arial, Helvetica, sans-serif;
    color: #5f6358;
}

.header p{
    display: flex;
    align-items: center;
}

.header p, .header a{
    font: 500 1.2rem 'Rajdhani', Arial, Helvetica, sans-serif;
    color: #5f6358;
}

.header a{
    text-decoration: underline 2px #F9C7C5;
    display: flex;
    align-items: center;
}

.main{
    padding: 20px 30px;
    max-width: 1600px;
    margin: auto;
}


/* Apresentação */
.presentation{
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.presentation img{
    max-width: 50vw;
}

.presentation p{
    color: #3b3d38;
    max-width: 600px;
    font: 400 1.3rem 'Poppins', Arial, Helvetica, sans-serif;
}

.nivel{
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.newbie{
    color: #6abecd;
}

.junior{
    color: #aad742;
}

.intermediate{
    color: #f1b604;
}

.advanced{
    color: #f48925;
}

.guru{
    color: #ed2c49;
}

.mine-github{
    font-weight: 600;
}

.mine-github:hover{
    text-decoration: underline;
}

/* Níveis */
.sect-nivel h2{
    font: 700 3.5rem 'Barlow', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/* Desafios */
.challenges{
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

/* card */
.card{
    border: 2px solid #dbe5e6;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-img{
    padding: 10px;
    grid-column: 1/3;
}

.card-img img{
    border-radius: 10px;
    width: 100%;
}

.card-title{
    padding: 10px 0;
    grid-column: 1/3;

    text-align: center;
    font: 700 2rem 'Rajdhani', Arial, Helvetica, sans-serif;
    color: #3b3d38;
}

.card-link{
    padding: 15px 0;
    border-top: 2px solid #dbe5e6;
    text-align: center;
    font: 600 1.3rem 'Poppins', Arial, Helvetica, sans-serif;
    color: #3b3d38;
}

.card-page{
    grid-column: 1/2;
    border-right: 1px solid #dbe5e6;
}

.card-code{
    grid-column: 2/3;
    border-left: 1px solid #dbe5e6;
}

@media screen and (max-width: 960px){
    .presentation{
        flex-wrap: wrap;
    }

    .challenges{
        grid-template-columns: 1fr;
    }
}